* {
    box-sizing: border-box;
}

html, body {
    background-color: #272121;
    height: 98%;
}

#JoinContainer {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#JoinContainer #transparency{
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

#JoinContainer form {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: darkgray;
    text-align: center;
}

#JoinContainer form input {
    margin-top: 10%;
    padding: 8px;
    height: 10%;
    width: 90%;
}

#JoinContainer form button {
    width: 90%;
    height: 20%;
    position: fixed;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 0px;
    margin-bottom: 10%;
}


#wrapper {
    left: 0px;
    top: 0px;
    height: 100%;
    margin: 10px;
    background-color: lightgray;
}

#wrapper ul {
    list-style-type: none;
    width: 550px;
    height: 670px;
    overflow-y: auto;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

#wrapper ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    background-color: gray;
}

#wrapper ul li:nth-child(odd) {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    background-color: lightgray;
}

#wrapper canvas {
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    position: relative;
    float: right;
}

#wrapper #global {
    background-color: white;
    position: relative;
    width: 550px;
    height: 100%;
    top: 0px;
}

#wrapper form {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

#wrapper form input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: gray;
    padding-left: 8px;
    padding-right: 120px;
}

#wrapper form button {
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
}