
body {
    background-color: slategray;
}

.header {
    overflow: hidden;
    background-color: darkgray;
    padding: 20px 10px;
    color: white;
    text-align: center;
}

#button1 {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 40%;
    top: 50%;
    width: 15%;
    height: 15%;
}

#button2 {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 60%;
    top: 50%;
    width: 15%;
    height: 15%;
}