* {
    box-sizing: border-box;
}

html, body {
    background-color: #272121;
    height: 98%;
}

/* Join Container Customizes the Box in which player joins the rooms*/

#JoinContainer {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

#JoinContainer #transparency {
    background-color: black;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

#JoinContainer #Waiting {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
}

#JoinContainer #Again {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
}

#JoinContainer #Yes {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
}

#JoinContainer #No {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 75%;
    top: 50%;
    width: 40%;
    height: 40%;
    background-color: lightgray;
    text-align: center;
    font-size: 30px;
}

#joinList {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 60%;
    height: 60%;
    background-color: darkgray;
}

#joinList ul {
    list-style-type: none;
    padding-left: 0;
    z-index: 1;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    margin: 0px;
    
    overflow-y: scroll;
    background-color: white  ;
}

#joinList pre {
    padding: 0px;
    margin: 0px;
}

#joinList ul li {
    padding: 6px;
    font-size: 22px;
    background-color: gray;
}

#joinList ul li:nth-child(odd) {
    padding: 6px;
    font-size: 22px;
    background-color: lightgray;
}

#JoinContainer form {
    z-index: 1;
    position: absolute;
    left: 0%;
    width: 50%;
    height: 100%;
    background-color: darkgray;
}

#JoinContainer form input {
    margin-top: 30px;
    margin-left: 10%;
    padding: 8px;
    width: 80%;
    height: 10%;
}

#JoinContainer #aicheckbox {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 35%;
}

#JoinContainer form button {
    left: 5%; 
    width: 40%;
    height: 20%;
    position: fixed;
    bottom: 0px;
    margin-bottom: 30px;
}

#JoinContainer form select {
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0);
}

#JoinContainer form #errMsg {
    margin-top: 30px;
    text-align: center;
}

/* Wrapper Customizes the Actual Playing Page*/

#wrapper {
    left: 0px;
    top: 0px;
    height: 100%;
    margin: 10px;
    background-color: lightgray;
}

#wrapper ul {
    list-style-type: none;
    width: 550px;
    height: 700px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;

    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; 
}

#wrapper ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    background-color: gray;
}

#wrapper ul li:nth-child(odd) {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 22px;
    background-color: lightgray;
}

#wrapper canvas {
    top: 50%;
    right: calc(50% - 530px);
    transform: translate(0, -50%);
    position: relative;
    float: right;
}

#wrapper #currentPlayer {
    top: 10%;
    width: 504px;
    right: calc(50% - 530px);
    transform: translate(0, -50%);
    z-index: 1;
    position: absolute;
    text-align: center;
    float: right;
}

#wrapper #global {
    background-color: darkslategray;
    position: relative;
    width: 550px;
    height: 100%;
    top: 0px;
}

#wrapper form {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

#wrapper form input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: gray;
    padding-left: 8px;
    padding-right: 120px;
}

#wrapper form button {
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    right: 0;
}