.block-content {
  width: 100%;
  height: 100%;   
  background-color: #000; 
  opacity: 0.3;
  pointer-events: none;
}

.canvas-modal {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 60%; 
  height: 30%; 
  transform: translate(-50%, -50%);
}

.navbar-link {
  background-image: none !important;
  color: white;
  
  display:block;
  padding: 0.75rem 0.5rem;
  margin: 0.25rem 0.2rem;
  text-decoration:none !important;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-active {
  color: white;
  background-color: #212529;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: calc(.25rem - 1px);
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.dropdown-active {
  background-color: #212529 !important;
  border: 1px solid rgba(0,0,0,.125) !important;
  border-radius: calc(.25rem - 1px) !important;
  pointer-events: none;
}

.chat-messages {
  height: 88% !important;
  overflow-y: auto;
}

.chat-size {
  height: 620px !important;
}

.width-40 {
  width: 40% !important;
  max-width: none !important;
}

.width-50 {
  width: 50% !important;
  max-width: none !important;
}

.width-60 {
  width: 60% !important;
  max-width: none !important;
}

.width-70 {
  width: 70% !important;
  max-width: none !important;
}

.jumbotron-chess {
  height: 100%;
  min-height: 300px;
  background: black;
  background: -webkit-linear-gradient(rgba(52, 232, 158, 0.4), rgba(15, 52, 67, 0.9)), url("../assets/chess-images/jumbo-image.jpg");
  background: linear-gradient(rgba(52, 232, 158, 0.4), rgba(15, 52, 67, 0.9)), url("../assets/chess-images/jumbo-image.jpg");
  background-size: cover;
}